<div id="chat" style="position: relative;">
    <ul id="chat-messages-list">
        <li class="other-message">
            <span id="recieved-messages"></span>
        </li>
        <br>
        <br>
        <li class="self-message">
            <span id="sent-messages"></span>
        </li>
    </ul>
    <form style="position: absolute; bottom: -200px;">
        <input type="text" id="chat-message-input" placeholder="Type Message...">
        <button type="submit" id="send-message">Send</button>
    </form>
</div>
