<div id="chat">
    <div>
        <ul id="chat-messages-list" style="list-style: none;">
            <li class="other-message" style="right: 0px;">
                <div id="recieved-messages"></div>
            </li>
            <br>
            <br>
            <li class="self-message" style="left: 0px;">
                <div id="sent-messages"></div>
            </li>
        </ul>
    </div>
    <form style="position: absolute; bottom: 20%;">
        <input type="text" id="chat-message-input" placeholder="Type Message...">
        <button type="submit" id="send-message">Send</button>
    </form>
</div>
