<div id="chat-box">
    <ul id="chat-message-list">
        <li class="other-message">
            <span>Other Message</span>
        </li>
        <li class="self-message">
            <span>Self Message</span>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form>
        <input type="text" id="chat-message-input" placeholder="Type Message...">
        <button type="submit"  id="send-message">Send Message</button>
    </form>
</div>