<footer>
    <ul>
        <li>
            <h3>This site is made by Ishaan Agarwal</h3>
        </li>
        
            <li>
                <h4>My Profile: </h4>
            </li>
            <li><a href="https://github.com/iAgar">Github</a></li>
            <li><a href="https://www.linkedin.com/in/ishaan-agarwal-aa193b18b/">LinkedIn</a></li>
        
    </ul>
    
</footer>