    <div style="left: 0%;">
        Made By: Ishaan Agarwal        
    </div>
    <br>
    <div class="ml-auto" style="right: 0%;">
        <a href="https://github.com/iAgar">GitHub</a>
        <a href="https://www.linkedin.com/in/ishaan-agarwal-aa193b18b/">LinkedIn</a>        
    </div>