<footer>
    <ul>
        <li>
            <h3>This site is made by Ishaan Agarwal</h3>
        </li>
        
            <li>
                <span>My Profile: </span>
            </li>
            <li><a href="https://github.com/iAgar" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ishaan-agarwal-aa193b18b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        
    </ul>
    
</footer>