<header class="col-12" style="top: 0%; background-color: black;">
    <span>
       <h1><a href="/">Social Nodes</a></h1>
    </span>
    <ul>
        <%if(locals.user){%>
            <li><a href="/user/profile/<%=user.id%>"><%=locals.user.name%></a></li>
            <li><a href="/user/sign-out">Sign Out</a></li>
        <%}else{%>
            <li><a href="/user/auth/google">Sign In/Sign Up using Google</a></li>
        <%}%>
    </ul>
</header>