<div >
    <h3>Signing up to Social nodes </h3>
    <br>
    <form action="/user/create" method="POST">
        <input placeholder="Your email" name="email" type="email" required>
        <br><br>
        <input placeholder="Your name" name="name" type="text" required>
        <br><br>
        <input placeholder="Your password" name="password" type="password" required>
        <br><br>
        <input placeholder="Re-enter password" name="confPassword" type="password" required>
        <br><br>
        <button type="submit">Sign Up</button>
    </form>
</div>
