<div>
    <form action="/user/create-session" method="POST">
        <label>Your Email</label><br>
        <input placeholder="Your email" name="email" type="email" required style="width: 80%;"><br><br>
        <label>Your Password</label><br>
        <input placeholder="Your password" name="password" type="password" required style="width: 80%;"><br><br>
        <button type="submit">Sign In</button>
    </form>
</div>
