<%if(locals.user){%>
    <h1>Hello Better World</h1>
    <form action="/post/create" method="POST">
        <input type="text" id="content" name="content" placeholder="What is on your mind ?" required>
        <button type="submit">Create Post</button>
    </form>
    <%for(p of post){%>
        <%-include('_post');%>
    <%}%>
<%}else{%>
<h1>Hello World</h1>
<%}%>