<h3>Signing in to Social nodes </h3>
<form action="/user/home" method="POST">
    <input placeholder="Your email" name="email" type="email" required>
    <input placeholder="Your password" name="password" type="password" required>
    <button type="submit">Sign In</button>
</form>