<div class="row">
    <div class="col-5"><br><br><br>
      
    </div>
    <div class="col-7">
      <div class="w-400 mw-full"> 
        <div class="card">
          <h2 class="card-title">
          </h2>
          <p class="text-muted">
            <%-include('_sign-up');%>
          </p>
        </div>
      </div>
    </div>
  </div>