#chat-box{
    background-color: white;
    color: black;
    width: 32%;
    height: 100%;
    margin-left: 67%;
    margin-top: -15%;
    position: fixed;
}

#recieved-messages{
    float: left;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 25%;
}

#sent-messages{
    float: right;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 25%;
}
